body, html {
  height: 100%;
}
.bg {
  /* The image used */
  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background: url('/assets/images/medical.jpg') no-repeat center;
  background-size: cover;
}
